$white-color: rgba(255, 255, 255, 1);
$black-color: rgba(0, 0, 0, 1);
$grey-color: rgba(200, 200, 200, 1);

:export {
  whiteColor: $white-color;
  blackColor: $black-color;
  greyColor: $grey-color;
}
