.footer-section {
  background-color: #484745;

  h2 {
    color: #ffffff;
    font-size: 14px;
    margin: 20px 20px;
  }

  .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

