html { overflow:  hidden; }
.main-wrapper {
  font-size: 1rem;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "header-section header-section header-section"
    "main-section main-section aside-section"
    "footer-section footer-section footer-section";

  .header-section {
    grid-area: header-section;
  }

  .main-section {
    grid-area: main-section;
  }

  .aside-section {
    grid-area: aside-section;
  }

  .footer-section {
    grid-area: footer-section;
    border: 0.5 solid rgb(128, 128, 128);
  }
}

article {
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
  text-align: justify;
  margin: 0 20px;
}

@media only screen and (max-width: 767px)   {
  .main-wrapper {
    grid-template-areas:
      "header-section header-section header-section"
      "main-section main-section main-section"
      "aside-section aside-section aside-section"
      "footer-section footer-section footer-section";
  }
}
