.main-wrapper {
  font-size: 1.2rem;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "header-section header-section header-section"
    "main-section main-section aside-section"
    "footer-section footer-section footer-section";

  .header-section {
    grid-area: header-section;
    background: grey;
  }

  .main-section {
    grid-area: main-section;
    background: grey;
  }

  .aside-section {
    grid-area: aside-section;
    background: grey;
  }

  .footer-section {
    grid-area: footer-section;
    background: grey;
  }
}

@media only screen and (max-width: 767px)   {
  .main-wrapper {
    grid-template-areas:
      "header-section header-section header-section"
      "main-section main-section main-section"
      "aside-section aside-section aside-section"
      "footer-section footer-section footer-section";
  }
}
