.search-wrapper {
  font-size: 1rem;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "header-section header-section header-section"
    "search-section search-section search-section"
    "main-section main-section main-section";

  .header-section {
    grid-area: header-section;
  }

  .search-section {
    grid-area: search-section;
    display: flex;
    justify-content: center;

    .search-input {
      width: 80%;

      input {
        width: 100%;
        padding: 10px 15px;
        outline: none;
      }

      input:focus {
        border: 2px solid grey;
      }
    }
  }

  .main-section {
    grid-area: main-section;
  }
}

@media only screen and (max-width: 767px)   {
  .search-wrapper {
    grid-template-areas:
      "header-section header-section header-section"
      "search-section search-section search-section"
      "main-section main-section main-section";
  }
}
